#pf-popup-container{
    position: fixed;
    display: flex;

    width: 100vw;
    height: 100vh;

    justify-content: center;
    align-items: center;
}

.pf-background {
    width: 100vw;
    height: 100vh;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.322);
}

.edit-form {
    position: inherit;
    
}

.open-form {
    animation-name: popup;
    animation-duration: 0.5s;
}

@keyframes popup{
    from{
        transform: translate(0, -50px);
    }
    to{
        transform: translate(0, 0);
    }
}