:root {
  /* NO TOCAR - Colores por defecto de la página*/
  --default-bg-primary: #4a4853;
  --default-bg-secondary: #1f1d27;

  --default-border-color-primary: #75358f;

  --default-icon-primary: #9140b1;

  --default-btn-primary: #5c2d6eff;
  --default-btn-secondary: #501069;
  --default-btn-hover: #059669;
  --default-btn-danger: #b11010;

  --default-text-color-primary: #f5f5f5;

  /* Editar estos parametros para cambiar los colores de la página*/
  --bg-primary: #B0BFC6;
  --bg-secondary: #36474F;

  --border-color-primary: #607D8B;

  --icon-primary: #24739b;

  --btn-primary: #607D8B;
  --btn-secondary: #38383a;
  --btn-hover: #607D8B;
  --btn-danger: #ee4848;

  --text-color-primary: var(--default-text-color-primary);
}

/* ---------- FONDO GENERAL ---------- */
body {
  background-color: var(--bg-primary);
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.app {
  position: absolute;
  width: 100%;
  height: 100%;
}

.content {
  margin-top: 70px;
  margin-left: 100px;
  height: calc(100vh - 70px);
  /* align-items: center;
  justify-content: center;
  display: flex;
  transition: margin-left 0.8s ease-in-out; */
}

/* .content>* {
  display: flex;
  flex-wrap: wrap;
} */

.section-tittle {
  background-color: var(--bg-secondary);
  color: var(--text-color-primary);
  justify-content: center;
  width: 100%;
}



/* ---------- FORMULARIO DE PRODUCTO ---------- */

.itemForm {
  width: 30vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.itemForm input {
  width: 500px;
  height: 35px;
  margin-bottom: 8px;
  border: 2px solid black;
  border-radius: 5px;
}

.itemForm select {
  width: 250px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: white;
  font-size: 16px;
  cursor: pointer;
}

.itemForm select:focus {
  border-color: #007bff;
  outline: none;
}

.itemForm button {
  width: 200px;
  height: 35px;
  margin-top: 15px;
  margin-left: 10px;
  border-radius: 10px;
  font-size: 20px;
}


/* Dispositivos móviles (hasta 600px) */
@media (max-width: 600px) {
  .navbar li {
    font-size: 24px;
    margin-bottom: 20px;
    flex-direction: column;
    width: 100%;
    text-align: center;
  }

  .categories {
    width: 90vw;
    font-size: 24px;
    flex-direction: column;
    align-items: center;
  }

  .categories input,
  .categories button {
    width: 100%;
    margin: 5px 0;
  }

  .itemForm {
    width: 90vw;
  }

  .itemForm input,
  .itemForm select {
    width: 100%;
  }

  .itemForm button {
    width: 100%;
    margin: 10px 0 0 0;
  }
}

/* Tablets (601px a 992px) */
@media (min-width: 601px) and (max-width: 992px) {
  .navbar li {
    font-size: 32px;
    margin-bottom: 25px;
  }

  .categories {
    width: 80vw;
    font-size: 30px;
  }

  .categories input {
    width: 80%;
  }

  .categories button {
    width: 40%;
  }

  .itemForm {
    width: 80vw;
  }

  .itemForm input,
  .itemForm select {
    width: 100%;
  }

}

.singleItem {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 0;
  background-color: var(--bg-secondary);
  padding: 2rem;
  border-radius: 1rem;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
  max-width: 600px;
  width: 100%;
  text-align: center;
  transition: all 0.3s ease;
}

.singleItem h1 {
  font-size: 2rem;
  margin-bottom: 0.5rem;
  color: var(--text-color-primary);
}

.singleItem h3 {
  font-size: 1.1rem;
  color: var(--text-color-primary);
  margin-bottom: 1rem;
}

.singleItem h2 {
  font-size: 1.5rem;
  color: #e67e22;
  margin-bottom: 1rem;
}

.singleItem img {
  max-width: 100%;
  height: auto;
  border-radius: 0.5rem;
  margin: 1rem 0;
  object-fit: cover;
}

.option-li {
  list-style: none;
  display: flex;
  justify-content: space-between;
  margin: 0.5rem 0;
  background-color: var(--bg-primary);
  padding: 0.7rem;
  border-radius: 0.5rem;
  align-items: center;
}

.option-li span {
  color: var(--text-color-primary);
  margin: 0.2rem 0;
  font-size: 1rem;
}

.volverBtn {
  margin-top: 2rem;
  padding: 0.7rem 1.5rem;
  background-color: var(--btn-primary);
  color: white;
  font-size: 1rem;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: background 0.3s;
}

.volverBtn:hover {
  background-color: #2980b9;
}

.listBtn {
  background-color: #ff0404;
  color: white;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: background 0.3s;
  font-size: 20px;
}

.listBtn:hover {
  background-color: #ed7535;
}

.pedidosWrapper {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}