:root {
    --bg-primary: var(--bg-primary);
    --bg-secondary: var(--bg-secondary);

    --border-color-primary: var(--border-color-primary);
    --btn-primary: var(--btn-primary);
    --btn-secondary: var(--btn-secondary);
    --btn-hover: var(--btn-hover);
    --btn-danger: var(--btn-danger);

    --text-color-primary: var(--text-color-primary);
}


/* ---------- CATEGORÃAS ---------- */

.categoriesContainer {
    display: flex;
    justify-content: center;
    width: 100vw;
    max-width: 600px;
    margin: 30px auto;
    padding: 20px;
    background: var(--bg-secondary);
    color: var(--text-color-primary);
    border-radius: 12px;
}

.categories {
    width: 50vw;
    border: 2px solid var(--border-color-primary);
    border-radius: 12px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 32px;
    text-align: center;
}

.categories input {
    width: 250px;
    height: 25px;
    margin-bottom: 20px;
    padding: 10px;
}

.subCat>ul button {
    width: 40px;
    height: 40px;
    margin-left: 10px;
}

.categories ul {
    padding-inline-start: 0px;
}

/* Items de la lista*/
.categories li {
    background: var(--bg-primary);
    color: var(--text-color-primary);
    padding: 0px 15px;
    border-radius: 8px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    /* texto a la izq, botones a la der */
    align-items: center;
}

.categories li span {
    width: 350px;
    height: 70px;
    align-content: center;
    text-align: start;
    text-wrap: nowrap;
    overflow-x: auto;
}

.actions {
    display: flex;
    gap: 8px;
    /* espacio entre Editar y Eliminar */
}

.categories button {
    color: var(--text-color-primary);
    border: none;
    padding: 2px;
    border-radius: 6px;
    cursor: pointer;
    font-size: 14px;
    transition: background 0.2s;
}


.deleteButton {
    background-color: var(--btn-danger);
    border: none;
    padding: 2px;
    border-radius: 6px;
    cursor: pointer;
    font-size: 14px;
    transition: background 0.2s;
}

.editButton {
    background-color: var(--btn-secondary);
    border: none;
    padding: 2px;
    border-radius: 6px;
    cursor: pointer;
    font-size: 14px;
    transition: background 0.2s;
}


/*Formulario*/

.categories input[type="text"],
.categories input[type="file"] {
    display: block;
    width: 80%;
    margin: 10px auto;

    font-size: 14px;
    border-radius: 6px;
    border: 1px solid var(--border-color-primary);
    height: 60px;
    background: var(--bg-primary);
    color: var(--text-color-primary);
}

.categories input[type="file"] {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 0px;
}

.categories input[type="text"]:focus {
    border-color: #3b82f6;
    outline: none;
}

.categories form button[type="submit"] {
    background-color: var(--btn-primary);
    font-size: 15px;
    padding: 10px;
    margin-bottom: 10px;
}

.categories form button[type="submit"]:hover {
    background-color: var(--btn-hover);
}


.errorLabel {
    height: 18px;
    font-size: 18px;
    color: var(--btn-danger);
}