.pedidosWrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  justify-content: flex-start;
  /* o center si querés centrados */
  padding: 10px;
}

.container {
  margin-top: 100px;
  border: 1px solid #ddd;
  border-left: 10px solid;
  border-radius: 12px;
  padding: 16px;
  width: 300px;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.06);
  font-family: 'Segoe UI', sans-serif;
  transition: transform 0.2s ease;
}

.container:hover {
  transform: translateY(-2px);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.08);
}

.pedidoSubContainer {
  background-color: #f9f9f9;
  border-radius: 10px;
  padding: 12px;
  margin-top: 22px;
  border: 1px dashed #b2bec3;
}

.pedidoSubContainer h1 {
  font-size: 16px;
  margin: 6px 0;
  color: #2d3436;
}

.opciones {
  list-style-type: disc;
  padding-left: 20px;
  margin: 4px 0;
  color: #636e72;
  font-size: 14px;
}

.opciones li {
  margin: 2px 0;
}

.ElininarButton {
  display: block;
  margin: 0 auto;
  margin-top: 15px;
  width: 200px;
  height: 50px;
  border-radius: 10px;
  font-size: 20px;
  font-weight: 600;
  background-color: rgb(186, 186, 186);
  transition: 0.3s;
}

.ElininarButton:hover {
  background-color: red;
  color: white;
  transform: scale(1.03);
  cursor: pointer;
  font-size: 22px;
}

.Total {
  margin-top: 10px;
  margin: 10px;
  padding: 20px;
  width: 500px;
  height: 60px;
  border: 1px solid black;
}

.sumarButton {
  display: block;
  margin: 0 auto;
  margin-top: 10px;
  width: 200px;
  height: 50px;
  border-radius: 10px;
  font-size: 20px;
  font-weight: 600;
  background-color: rgb(186, 186, 186);
  transition: 0.3s;
}

.sumarButton:hover {
  background-color: rgb(72, 255, 0);
  color: rgb(0, 0, 0);
  transform: scale(1.03);
  cursor: pointer;
  font-size: 22px;
}

.resetButton {
  margin: 10px;
  width: 200px;
  height: 50px;
  font-size: 20px;
  font-weight: 600;
  border-radius: 8px;
  line-height: 10px;
  transition: 0.4s;
  cursor: pointer;
}

.resetButton:hover {
  transform: scale(1.06);
  background-color: rgba(255, 175, 71, 0.669);
}

