/* ----- Estilos de la Tarjeta del pedido ----- */

:root {
    --bg-primary: var(--bg-primary);
    --bg-secondary: var(--bg-secondary);

    --btn-danger: var(--btn-danger);
    --btn-primary: var(--btn-primary);
    --btn-hover: var(--btn-hover);
    --text-color-primary: var(--text-color-primary);

    /* Colores del componente */

    --card-border-color: #566E7A;
    --card-shadow-color: rgba(0, 0, 0, 0.5);

    --table-outside-border-color: #566E7A;
    --table-inside-border-color: #566E7A;
    --table-background-color: #f9f9f9;
}

/*  ----- Tarjeta entera (Contenedor completo) ----- */
.pedido {
    background: var(--bg-secondary);
    border-radius: 12px;
    padding: 0px;
    width: 350px;
    min-width: 350px;
    height: 600px;
    box-shadow: 10px 8px 8px var(--card-shadow-color);
    transition: transform 0.2s ease;
    color: var(--text-color-primary);
}

/* Efectos al poner el mouse encima de la tarjeta */
.pedido:hover {
    transform: translateY(-4px);
    box-shadow: 10px 8px 8px var(--card-shadow-color);
}

.data-container{
    height: 93%;
    border-width: 0px 1px 1px;
    border-style: solid;
    border-color: var(--card-border-color);
    border-radius: 0px 0px 12px 12px;
}

/*Contenedor del boton de selección de estado*/

.select-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    height: 7%;
}

/* Boton de selección de estado */

#stateSelect {
    width: 100%;
    height: 100%;
    border: none;
    font-size: larger;
    text-align: center;
    border-radius: 10px 10px 0px 0px;
}

#stateSelect:hover {
    border: 3px solid black;
}

/* ----- Contenedor de información del cliente ----- */

.client-data-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 16px 16px;
}


/* -------- Contenedor con los pedidos --------- */
.order-container {
    height: 290px;
    margin: 16px;
    
    border-radius: 10px;
    border: 3px solid;
    border-color: var(--table-outside-border-color);
    overflow: hidden;
}


/* Tabla dentro del contenedor*/
.orders-table {
    border-collapse: collapse;

    border: hidden;
    width: 100%;    
    margin-bottom: 16px;
}

.orders-table thead tr {
    text-align: center;
}

/* Filas de la tabla */
tr {
    background-color: var(--table-background-color);
    color: black;
    height: 36px;
    min-height: 36px;
}

/* Tamaño y color de los bordes internos  */
.orders-table th, 
.orders-table td {
    border: 1px solid;
    border-color: var(--table-inside-border-color);
}

/* --- Tabla del total (Celda única) --- */
.total-table {
    border-collapse: separate;
    border-spacing: 0;
    border-radius: 10px;
    overflow: clip;

    margin: 0px 25px 16px 0px;
    width: 55%;
    justify-self: end;
}

.total-table tbody,
.total-table tr,
.total-table tbody td {
    /* Quita bordes internos y agranda la letra */
    border: 0px;
    font-size: medium;
}


/* ----- Botones (Boton Archivar) ----- */
.pedido button {
    display: block;
    border: none;
    border-radius: 10px;

    height: 48px;
    width: 80%;
    margin: auto;
    padding: 8px 12px;

    cursor: pointer;
    transition: background-color 0.2s ease;
    
    font-size: 18px;
    font-weight: 700;
    transition: 0.3s;
}

/* Boton "Archivar" */
.pedido-delete {
    background-color: var(--btn-danger);
    color: var(--text-color-primary);
}

/* Efecto del boton "Archivar" al poner el cursor encima */
.pedido-delete:hover {
    background-color: crimson;
}

/* ----- Contenedor de información ----- */
.order-data {
    display: flex;
    justify-content: space-between;
    margin-top: 24px;
    padding: 0px 10px;
}