/* ----- Estilos de la Tarjeta del pedido ----- */

:root {
    --bg-primary: var(--bg-primary);
    --bg-secondary: var(--bg-secondary);

    --btn-danger: var(--btn-danger);
    --btn-primary: var(--btn-primary);
    --btn-hover: var(--btn-hover);
    --text-color-primary: var(--text-color-primary);
}

/*  ----- Tarjeta entera (Contenedor completo) ----- */
.pedido {
    background: var(--bg-secondary);
    border-radius: 12px;
    padding: 0px;
    width: 350px;
    min-width: 350px;
    height: 600px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
    transition: transform 0.2s ease;
    color: var(--text-color-primary);
}

.data-container{
    height: 93%;
    border-width: 0px 1px 1px;
    border-style: solid;
    border-color: #dcdde1;
    border-radius: 0px 0px 12px 12px;
}

/* Efectos al poner el mouse encima de la tarjeta */
.pedido:hover {
    transform: translateY(-4px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.08);
}

/*Contenedor del boton de selección de estado*/

.select-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    height: 7%;
}

/* Boton de selección de estado */

#stateSelect {
    width: 100%;
    height: 100%;
    border: none;
    font-size: larger;
    text-align: center;
    border-radius: 10px 10px 0px 0px;
}

#stateSelect:hover {
    border: 3px solid black;
}

/* ----- Contenedor de información del cliente ----- */

.client-data-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 8px 16px 0px;
}


/* -------- Contenedor con los pedidos --------- */
.order-container {
    display: flex;
    flex-direction: column;
    background-color: #f9f9f9;

    height: 68%;
    margin: 16px;
    
    border-radius: 10px;
    border: 1px dashed #b2bec3;
    overflow: clip;
}

.order-container h1 {
    align-self: flex-end;
    font-size: 16px;
    margin: 6px 0;
    color: #2d3436;
}

/* Tabla dentro del contenedor*/
.orders-table {
    border-collapse: separate;
    border-spacing: 0;
    border-radius: 10px;
    overflow: clip;
}

/* Filas de la tabla */
tr {
    background-color: #f9f9f9;
    color: black;
}

/* Tabla del total (Celda única) */
.total-table {
    border-collapse: separate;
    border-spacing: 0;
    border-radius: 10px;
    overflow: clip;

    width: 30%;
    align-self: center;
}

.total-table tbody,
.total-table tr,
.total-table tbody td {
    /* Quita bordes internos */
    border: 0px;
}


/* ----- Botones (Boton Archivar) ----- */
.pedido button {
    display: block;
    border: none;
    border-radius: 10px;

    height: 48px;
    width: 80%;
    margin: auto;
    padding: 8px 12px;

    cursor: pointer;
    transition: background-color 0.2s ease;
    
    font-size: 18px;
    font-weight: 700;
    transition: 0.3s;
}

/* Boton "Archivar" */
.pedido-delete {
    background-color: var(--btn-danger);
    color: var(--text-color-primary);
}

/* Efecto del boton "Archivar" al poner el cursor encima */
.pedido-delete:hover {
    background-color: crimson;
}

/* ----- Contenedor de información ----- */
.order-data {
    display: flex;
    justify-content: space-between;
    padding: 0px 10px;
}