:root {
    --bg-primary: var(--bg-primary);
    --bg-secondary: var(--bg-secondary);

    --btn-danger: var(--btn-danger);
    --btn-primary: var(--btn-primary);
    --btn-secondary: var(--btn-secondary);
    --btn-hover: var(--btn-hover);

    --icon-primary: var(--icon-primary);

    --text-color-primary: var(--text-color-primary);

    /* Colores del componentes */

    --link-hover-color: var(--btn-hover);
    --link-focus-color: var(--btn-hover);
    --icon-color: var(--icon-primary);

}

/* --------  Navbar superior -------- */


body,
html {
  height: 100%;
  font-family: sans-serif;
}

/* Navbar superior */
.navbar {
  /* Posision */
  position: fixed;
  top: 0;
  left: 0;

  /* Dimensiones */
  width: 100%;
  height: 70px;
  padding: 0 20px;

  /* Display */
  display: flex;
  align-items: center;
  justify-content: space-between;

  /* Colores */
  background-color: var(--bg-secondary);
  
}

/* Ícono campana (Notificaciones) */
.campana{
  float: left;
  font-size: 40px;
  transition: .2s;
}

.campana:hover{
  cursor: pointer;
  transform:scale(1.09);
}

.badge{ /*Pelotita de contador de cantidad de notificaciones en la campana*/
  position: absolute;
  margin-left: -25px;
  border-radius: 50%;
  font-size: 15px;

  /* Colores */
  color: var(--text-color-primary);
  background-color: red;
}

/* Boton logo de la empresa */
.logo img {
  height: 60px;
  cursor: pointer;
  border-radius: 50%;
  margin-left: 50px;
}

/* Boton hamburgueza que abre el SideBar */
.hamburger {
  font-size: 40px;
  background: none;
  border: none;
  cursor: pointer;
  color: var(--icon-primary);
}


/* -------- Sidebar (Menu izquierdo) -------- */
.sidebar {
  /* Posicion */
  position: fixed;
  top: 0;
  left: 0;

  /* Dimensiones */
  width: 300px;
  height: 100%;
  padding: 0px 20px 20px 20px;

  /* Display */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  overflow: clip;
  
  /* Colores */
  background-color: var(--bg-secondary);
  
  /* Animaciones */
  transform: translateX(-300px);
  transition: transform 0.5s;
}

.sidebar.open {
  transform: translateX(0);
}

.sidebar .buttons-container .hamburger { 
  /*
    Esto hace que la hamburguesa este al mismo nivel/posision
    tanto en el navbar como en el sidebar.
  */
  height: 70px;
}

.sidebar .links-container {
  padding-top: 10px;
}

.sidebar-black-bg {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;

  background-color: rgba(0, 0, 0, 0.4);
}

/* Opcion de navegacion */
.nav-link {
  position: relative;
  
  /* Dimensiones */
  height: auto;
  width: 100%;
  margin-top: 5px;
  margin-bottom: 25px;
  padding: 15px 4px;
  border-radius: 15px;

  /* Texto */
  text-decoration: none;
  font-weight: 700;
  font-size: 24px;
  text-align: start;
  font-family: 'Times New Roman', Times, serif;
  text-overflow: clip;
  text-wrap: nowrap;

  /* Colores */
  color: var(--text-color-primary);
}
.nav-link:hover {
  background: var(--link-hover-color);
}
.nav-link:focus {
  color: var(--link-focus-color);
}

/* -------- Icon SideBar (Menu izquierdo de Iconos) -------- */

.icon-sidebar {
  /* Posicion */
  position: fixed;
  top: 70px;
  left: 0;

  /* Dimensiones */
  width: 100px;
  height: 100%;
  padding: 10px 20px 20px 20px;

  /* Display */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  overflow: clip;
  
  /* Colores */
  background-color: var(--bg-secondary);
}


/* Icon */
.nav-icon-color{
  text-align: start;
  width: 45px;

  color: var(--icon-color);
}

.icon-sidebar .nav-link:hover {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.4) inset;
}

/* ------ NI IDEA -------- Kei */
.homeNav {
  text-decoration: none;
}

.filtroButton.open {
  transform: translateX(0);
}


.filtroButton.ocultar {
  display: block;
  transform: translateX(-130%);

}

.filtroButton.mostrar-en-navbar {
  display: block;
  position: fixed;
  margin-top: 5%;
  left: 10px;
  width: 260px;
  height: 60px;
  background-color: #ffc107;
  color: black;
  border: 5px solid black;
  border-radius: 8px;
  padding: 10px;
  font-weight: bold;
  cursor: pointer;
  transform: translateX(4%);
  transition: transform 0.8s ease-in-out;

}

.filtroButton:hover {
  background-color: rgb(241, 239, 239);
}


/* CONTENEDOR PRINCIPAL DE REDES */

.rigthsContainer{
  display: flex;
  margin-top: 170%;
  color: white;
  flex-direction: column;
}


.rigthsContainer h1{
  font-size: 25px;
  margin-right: 5px;
}

.rigthsContainer p{
  font-size: 20px;
}

/* AJUSTES EN MOBILE */
@media (max-width: 768px) {
  .socialMedia {
    position: absolute;
    bottom: 10px;
    left: 10px;
  }

  .social-item i {
    font-size: 28px;
  }

  .social-item a {
    font-size: 16px;
  }
}





/* Responsive: en pantallas pequeñas mostramos menú hamburguesa */
@media (max-width: 768px) {


  .hamburger {
    display: block;
  }

  .links {
    position: absolute;
    top: 100%;
    right: 0;
    background: rgba(0, 0, 0, 0.85);
    flex-direction: column;
    width: 150px;
    padding: 10px 0;
    border-radius: 4px;
    opacity: 0;
    pointer-events: none;
    transform: translateY(-10px);
    transition: all 0.3s ease;
    /* z-index: 10; */
  }

  .links.visible {
    opacity: 1;
    pointer-events: auto;
    transform: translateY(0);
  }

  .links {
    gap: 5px;
    background-color: rgba(0, 0, 0, 0.842);
  }

  .fraseDiv {
    display: none;
  }

  .sidebar {
    height: 950px;
  }

  .filtroButton.mostrar-en-navbar {
    position: fixed;
    margin-top: 18%;
  }



  .textoMid {
    font-family: "My Soul", cursive;
    color: rgb(255, 255, 255);
    font-weight: 700;
    font-size: 20px;
  }



  .social-item {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
    margin-bottom: 15px;
  }

  .social-item i {
    font-size: 32px;
    color: white;
    padding-left: 20px;
  }

  .social-item a {
    text-decoration: none;
    font-size: 28px;
  }


}