:root {
  --bg-secondary: var(--bg-secondary);
  --bg-primary: var(var(--bg-primary));
  --border-color-primary: var(--border-color-primary);

  --text-color-primary: var(--text-color-primary);
}

/* ------- Nav Bar -------*/

/* Margin */
.nav-fill {
  width: 280px;
}

/* Main nav bar style */
.navbar {
  position: fixed;
  display: block;
  background-color: var(--bg-secondary);

  min-width: 260px;
  max-width: 260px;
  min-height: 100%;
}


.navbar ul {
  list-style: none;
  width: 260px;

  margin-top: 100px;
  padding: 0;
}


.navbar a {
  display: inline-block;
  text-decoration: none;
  text-align: center;
  color: var(--text-color-primary);

  width: 100%;
}


.nav-link {
  display: flex;
  width: 100px;
  height: 40px;
  justify-content: center;
  align-items: center;
  padding: 10px;
  font-size: 15px;
  margin-bottom: 10px;
}


.nav-link:hover {
  background-color: var(--bg-primary); 
}

.nav-link:focus {
  color: var(--text-color-primary);
  background-color: var(--bg-primary); 
}